html {
  height: 100%; /* We still have to fix html height */
}

body {
  min-height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bg-fire{
  background-image:url(./images/ed-pastor-with-freedom-arena1.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;  
  width: 100vw;
  height: 100vh;  
}
.church-introduction {
  font-size:3.5rem;
  line-height:150%;
  position:absolute;
  bottom:30px;
  background-color: rgba(0,0,0,0.5);
  text-align: center; 
  display:block;
  border-radius:10px;
  left:50%;
  transform:translateX(-50%);
}

.bg{
  background-image:url(./images/img21.jpg);
  width:100%;
  height:100%;
  background-size:cover;
}

.right{
width:50%;
min-height:300px;
background-color:aquamarine;
display:flex;
align-items:center;
padding:30px;
border-radius:8px;
color:white;
margin-left:-150px;
}
.ed-prophet-about{
  background-color:#6d145b;
  height:100%;
  display:block;
  padding-bottom:100px;
}     
.ed-prophet-about p{
 color:#f1f1f1;
font-size:1.5rem;
line-height: 150%;

}  
.ed-prophet-singing{
  background-image:url(./images/ed-singing.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;  
  width: 100vw;
  height: 100vh;
}
.church-leadership{
  margin-top:-50px;
  color:red;
  margin-bottom:50px;
}

.bg-footer{
  background-image:url(./images/fire-anointing.jpg);
  background-position: center;
  /* background-size:cover; */
  background-repeat: no-repeat;  
  width:100%;
  height:100%;
  padding-top:40px;
  padding-bottom:40px;
  color:white;
  
}
.solution{
  font-size:3rem;
  padding:20px;
  color:yellow;
}
.bg-ed-preaching{
  background-image:url(./images/ed-pastor-in-pakistan-crusade.jpg);
 
  background-position: center;
  /* background-size:cover; */
  background-color:black;
  background-repeat: no-repeat;  
  width:100%;
  height:100%;
  HEIGHT:700PX;
  padding:10px;
  padding-top:40px;
  padding-bottom:40px;
  position: relative;
  
}

.vk-bg-container{
  color:#000007;
  font-size:1rem;
  line-height: 150%;
  text-align: center;
 
}
.vkbg{
  background:white;
  border-radius:3rem;
}
.vk-title1{
  padding:40px 30px 30px 30px;
  font-size:4rem;
}
.vk-title2{
  padding:30px;
  text-align: center;
}

.vk-bottom-margin{margin-bottom: 70px;}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media ( max-width: 769px ) {
  /* .react__player{
     max-width: 50%;
     max-height: 250px; 
     margin-right: 20px;
     
  } */

  .church-introduction{
    font-size:1.5rem;
    width:100%;    
  }
}